.filter{
    height: 100vh;
    min-height: 10px;
    padding-top: 100px;
    transition: .5s all ease;
    @include flexbox(column, wrap, flex-start, center);
    p{
        max-width: 500px;
        line-height: 1.3;
        font-size: 1.2em;
    }

    &.shrink{
        height: 30vh;
        transition: .3s all ease;
        .filter-wrapper{
            transition: .5s all ease;
            position: fixed;
            top: 0;
            right: 0;
            transform-origin: 100% 1% 0;
            transform: scale(.1);
            z-index: 30;
            svg{
                #Layer_9,
                text{
                    display: none;
                }
            }
        }
    }
    .inside {
        @include flexbox(row, wrap, flex-start, center);
        width: 100%;
        height: auto;

    }
    .filtering{
        transition: .3s all ease;

        &.active{
            opacity: 1 !important;
        }
        &.nonactive{
            // opacity: .4 !important;
            fill-opacity: .4 !important;
        }
        &:hover{
            cursor: pointer;
            opacity: .8 !important;
        }
    }

}

.filter-wrapper{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.indicator{
    position: absolute;
    top: 12px;
    right: 85px;
    text-align: right;
    div{
        display: none;
    }
}

$list: zeromigration, nochange, nozero, contantfertility, constantno, zerocontant, combo;

span.zeromigration{
    color: $zero-migration;
}

span.nochange{
    color: $no-change;
}

span.contantfertility{
    color: $constant-fertility;
}

.szenario{
    opacity: 0 !important;
    transition: .1s all ease;
}

@each $sz in $list {
    .#{$sz} {
        .indicator .#{$sz}{
            display: block;
        }
        .szenario.#{$sz}{
            opacity: 1 !important;
        }
    }
}


#filter.fadeIn{
    .fl0,
    .fl1,
    .fl2{
        opacity: 0;
    }

    .fl0{
        animation: fadein 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    .fl1{
        animation: fadein 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    .fl2{
        animation: fadein 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }
}
