.fl0{fill:$no-change;}
.fl1{fill:$zero-migration;}
.fl2{fill:$constant-fertility;}
.fl4{fill:#010101;}
.fl5{font-family:'Roboto';}
.fl6{font-size:43px;}
.fl7{fill:none;stroke:#010101;stroke-miterlimit:10;}
.fl8{fill:none;stroke:#000000;stroke-miterlimit:10;}
