.ab0{
    rect{fill: $rectancle-fill;}
}
.ab1{
    fill:#FFFFFF;
}
.ab2{
    font-family:'Roboto';
    fill:black;
}
.ab3{
    font-size:100px;
}
.ab4,
.ab14{
    font-family:'Roboto';
}
.ab5{
    font-size:20.0055px;
}
.ab6{
    display:none;
}
.ab7{
    display:inline;
    fill:#F91515;
}
.ab8{
    display:inline;fill:#F7E116;
}
.ab9{
    display:inline;fill:#E05B19;
}
.ab10{
    display:inline;fill:#4864D8;
}
.ab11{
    display:inline;fill:#A325C1;
}
.ab12{
    display:inline;fill:#5FA53A;
}
.ab13{
    display:inline;
}
.ab15{
    font-size:24.7528px;
}
.ab16{
    fill:#F91515;
}
.ab17{
    fill:#F7E116;
}
.ab18{
    fill:#E05B19;
}
.ab19{
    fill:#4864D8;
}
.ab20{
    fill:#A325C1;
}
.ab21{
    fill:#5FA53A;
}
