.st0{
    rect{fill: $rectancle-fill;}
}
.st1{fill:white;}
.st2{fill:$no-change;}
.st3{fill:$zero-migration;}
.st4{fill:$constant-fertility;}
.st5{font-family:'Roboto';}
.st6{font-size:20.0055px;}

#legend{
    fill: black !important;
}
