#Continents,
#Legende {
    rect{fill: $rectancle-fill;}
}

#legend{
    fill: black !important;
}

.st0{stroke:#FFFFFF;stroke-miterlimit:10;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2{font-family:'Roboto';}
.st3{font-size:30px;}
.st4{opacity:4.000000e-02;}
.st5{fill:#FFFFFF;}
.st6{font-size:62.0303px;}
.st7{display:none;}
.st8{display:inline;}
.st9{fill:$no-change;}
.st10{fill:$constant-fertility;}
.st11{fill:$zero-migration;}
.st12{display:inline;fill:$no-change;}
.st13{display:inline;fill:$zero-migration;}
.st14{display:inline;fill:$constant-fertility;}
