.fazit{
    @include flexbox(column, wrap, center, center);

    p{
        width: 80%;
        max-width: 900px;
        margin: 0 auto;
        background: rgba(white, .7);
        font-size: 25px;
        font-weight: normal;
        box-sizing: border-box;
        padding: 30px;
        text-align: left;
    }
}

.copy{
    font-size: .9em;
    text-align: center;
}
