- var page = { title: "Infografik: Hotspot Afrika", subtitle: "Keep Calm oder Grund zur Panik?", author: "Myriam Frisano", description: "Eine Interaktive Infografik enstanden im MMP Studium"}

doctype html
html(lang="de")
    include includes/head.pug

    body.combo
        .title
            .div
                h1 Hotspot 
                    span.africa Afrika
                h2 Ruhe bewahren oder in Panik verfallen?
        section.start
            .percentage
                .map
                    .svg-responsive
                        include ../img/grafik_neu.svg
            section.zahlen
            section.afrika
            section.msg

        section.filter
            h3 Was sind die drei Szenarien?
            .inside
                .filter-wrapper
                    .svg-responsive
                        include ../img/filter_neu.svg
            h4 Wähle eines der Felder in der Grundfarbe oder eine Mischfarbe an, um dir die einzelnen Szenarien oder eine Kombinationen davon anzuschauen
        section.main
            .graphic
                .indicator
                    .zeromigration 
                        span.zeromigration Zero Migrations 
                    .nochange 
                        span.nochange No Change
                    .nozero 
                        span.nochange No Change 
                        span + 
                        span.zeromigration Zero Migrations
                    .contantfertility 
                        span.contantfertility Constant Fertility
                    .constantno 
                        span.contantfertility Constant Fertility 
                        span + 
                        span.zeromigration Zero Migrations
                    .zerocontant 
                        span.zeromigration Zero Migrations
                        span + 
                        span.contantfertility Constant Fertility
                    .combo 
                        span.zeromigration Zero Migrations 
                        span + 
                        span.contantfertility Constant Fertility 
                        span + 
                        span.nochange No Change
                .timeline
                    .marker
                    .years
                        a(href="#nf") 1950
                        a(href="#tt") 2000
                        a(href="#tf") 2050
                        a(href="#to") 2100
                .map
                    .svg-responsive
                        include ../img/grafik_neu.svg
            section#nf
                //- p 1950
            section#tt
                //- p 2000
            section#tf
                //- p 2050
            section#to
                //- p 2100
            section.txt
                .box
                    p Das Bevölkerungswachstum in Afrika hält trotz sinkender Geburtenraten an. Dies, weil die Lebenserwartung immer höher wird. Zudem werden jedes Jahr 74 Millionen afrikanische Frauen und Mädchen ungewollt schwanger - unter anderem, weil sie nicht verhüten können. Bis zum Jahr 2050 werden zwei Milliarden Babys in Afrika zur Welt kommen, wenn die Fertilitätsrate konstant bleibt. Die Zukunft auf dem Arbeitsmarkt sieht für den Nachwuchs nicht vielversprechend aus: Schon heute sind 60% der jungen Afrikaner arbeitslos.

        section.fazit
            h1 Fazit
            p Die Wurzeln der anhaltenden Armut in Afrika liegen in der demografischen Situation, die Wohlstandsgewinne vereitelt. Getrieben von einer exorbitanten Geburtenrate, «frisst» die starke Zunahme der Bevölkerung in Afrika einen grossen Teil des Wachstums des Bruttosozialproduktes auf – und die Armut bleibt.

            p Durch die nachhaltige Reduktion der Geburtenrate könnte das Wachstum eingedämmt werden. Die Familienplanung müsste aber massiv und flächendeckend angelegt sein, um Wirkung zu zeigen. 

            p Zudem müsste in die Bildung investiert werden. Es fehlt dafür aber an finanziellen Mitteln und an Lehrpersonal, wie auch an Motivation der politischen Klasse. Denn die Unwissenheit des Volkes trägt massgeblich zu ihrem Meinungsmonopol bei.
            
            p Egal, welches der Szenarien so oder ähnlich eintreten wird: Afrika ist ein immer grösser werdender Hotspot, der neue Lösungsansätze benötigt, um auf dieser Erde bestehen zu können.
        .copy
            p &copy; Myriam Frisano &middot; Anina Gepp &middot; Stephanie Hillig
        include includes/footer.pug
    // body end
// html end
